
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <nav>
            <a href="/" style="padding:1em">Home</a>
            <a href="/blog" style="padding:1em">All Posts</a>
            <a href="/newpost" style="padding:1em">New Post</a>
        </nav>
        <nav style="text-align: right">
            <a href="/login" style="padding: 1em">Log In</a>
            <a href="/logout" style="padding: 1em">Log Out</a>
        </nav>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>