{% extends "base.html" %}

{% block content %}
        <h1 style="text-align:center">My Blog Posts</h1>

        {% if posts|length == 0 %}
        <p>No posts here!</p>
        {% else %}

            {% for post in posts %}
            <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
            <p>{{post.body}}</p>
            <p><sub>Written by <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a></sub></p>
            <hr/>
            {% endfor %}

        {% endif %}
{% endblock %}